# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# macOS
.DS_Store

# Claude Code
.claude/

# Build output
/build/

# Binaries for programs and plugins
/emkiii
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

emkiii_libretro.h
emkiii_libretro.so
emkiii_libretro.dll
emkiii_libretro.dylib

# iOS
ios/Frameworks/
ios/Signing.xcconfig
ios/eMkIII/Resources/Assets.xcassets/AppIcon.appiconset/icon.png
**/*.xcodeproj/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcworkspace/xcuserdata/

